.bg-red {
    background-color: #F44336;
}

.bg-green {
    background-color: #1AD285;
}

.bg-primary {
    background-color: #343674;
}

.bg-white {
    background-color: white;
}

.mt-min-md {
    margin-top: -60px;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}