.h-100 {
    height: 100vh;
}

.w-100 {
    width: 100vw;
}

.b-rt-md {
    border-radius: 30px 30px 0 0;
}

.h-md {
    height: 130px;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-30-white {
    color: white;
    opacity: .3;
    font-weight: 300;
}

.border {
    border-bottom: 1px solid black;
}

.mx {
    margin: 0 20px;
}

.mb {
    margin: 16px 0;
}

.mt-md {
    margin-top: 16px;
}

.mt-lg {
    margin-top: 32px;
}

.native-input .sc-ion-input-md {
    padding-left: 0 !important;
}

.border-radius-sm {
    border-radius: 8px;
}

.mt-min-md {
    margin-top: -75px;
}