.h-100 {
    height: 100vh;
}

.w-100 {
    width: 100vw;
}

.b-rt-md {
    border-radius: 30px 30px 0 0;
}

.h-md {
    height: 130px;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-30-white {
    color: white;
    opacity: .3;
    font-weight: 300;
}